*{
    margin: 0;
    padding: 0;
}

#main-nav {
    padding: 5px 4em;
    z-index: 300;
    position: absolute;
    width: 100%;
}

#title {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    position: absolute;
    margin: 0 5px;
    background: rgba(97,213,255,1);
    background: -moz-linear-gradient(left, rgba(97,213,255,1) 0%, rgba(97,213,255,1) 27%, rgba(163,229,255,1) 30%, rgba(5,197,255,1) 41%, rgba(100,44,218,1) 75%, rgba(114,21,213,1) 80%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,213,255,1)), color-stop(27%, rgba(97,213,255,1)), color-stop(30%, rgba(163,229,255,1)), color-stop(41%, rgba(5,197,255,1)), color-stop(75%, rgba(100,44,218,1)), color-stop(80%, rgba(114,21,213,1)));
    background: -webkit-linear-gradient(left, rgba(97,213,255,1) 0%, rgba(97,213,255,1) 27%, rgba(163,229,255,1) 30%, rgba(5,197,255,1) 41%, rgba(100,44,218,1) 75%, rgba(114,21,213,1) 80%);
    background: -o-linear-gradient(left, rgba(97,213,255,1) 0%, rgba(97,213,255,1) 27%, rgba(163,229,255,1) 30%, rgba(5,197,255,1) 41%, rgba(100,44,218,1) 75%, rgba(114,21,213,1) 80%);
    background: -ms-linear-gradient(left, rgba(97,213,255,1) 0%, rgba(97,213,255,1) 27%, rgba(163,229,255,1) 30%, rgba(5,197,255,1) 41%, rgba(100,44,218,1) 75%, rgba(114,21,213,1) 80%);
    background: linear-gradient(to right, rgba(97,213,255,1) 0%, rgba(97,213,255,1) 27%, rgba(163,229,255,1) 30%, rgba(5,197,255,1) 41%, rgba(100,44,218,1) 75%, rgba(114,21,213,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61d5ff', endColorstr='#7215d5', GradientType=1 );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#nav-logo {
    display: initial;
}
#main-nav ul {
    display: inline-block;
    float: right;
    list-style: none;
    margin: 5px;
}

#main-nav li {
    display: inline-block;
    font-weight: bold;
    margin: 10px;
}

#main-nav a {
    text-transform: uppercase;
    color:white;
    transition: .5s;
}

#main-nav a:hover {
    color:#52d8ea;
    transition: .5s;
}

body {
    width: 100%;
    background: black;
}
#my-carousel {
    position: relative;
}
.pickgradient {
  display:inline-block;
  background: -moz-linear-gradient( rgba(33,31,88,1), rgba(33,31,88,0.5)); /* FF3.6+ */
  background: -webkit-gradientlinear-gradient( rgba(33,31,88,1), rgba(33,31,88,0.5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient( rgba(33,31,88,1), rgba(33,31,88,0.5)); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient( rgba(33,31,88,1), rgba(33,31,88,0.5)); /* Opera 11.10+ */
  background: -ms-linear-gradient( rgba(33,31,88,1), rgba(33,31,88,0.5)); /* IE10+ */
  background: linear-gradient( rgba(33,31,88,.8), rgba(33,31,88,0.8)); /* W3C */
}
.carousel-item img {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    z-index: -1;
    position: relative;
}

.carousel-caption {
    bottom:180px;
}

.carousel-caption h1 {
    font-family: 'Rozha One', serif;
    text-transform: capitalize;
}
.carousel-indicators li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
}
.carousel-indicators .active {
    background-color: #52d8ea;
    border: 1px solid #52d8ea;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.btn-primary {
    color: #52d8ea;
    border-color: #52d8ea;
    background: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary:hover {
    background: #52d8ea;
    color: white;
    border: 1px solid #52d8ea;
}

